USE [master]
GO
/****** Object:  Database [DB_Capstone]    Script Date: 7/6/2026 8:46:02 PM ******/
CREATE DATABASE [DB_Capstone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Capstone', FILENAME = N'C:\Users\kimba\DB_Capstone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Capstone_log', FILENAME = N'C:\Users\kimba\DB_Capstone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Capstone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Capstone]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/6/2026 8:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 7/6/2026 8:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7/6/2026 8:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 7/6/2026 8:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 7/6/2026 8:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7/6/2026 8:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7/6/2026 8:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 7/6/2026 8:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 7/6/2026 8:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeNumber] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[Occupation] [nvarchar](80) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[ContactNumber] [nvarchar](15) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Birthday] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[EmergencyContact] [nvarchar](100) NOT NULL,
	[PagIbigId] [nvarchar](50) NOT NULL,
	[PhilHealthId] [nvarchar](50) NOT NULL,
	[Position] [nvarchar](80) NOT NULL,
	[SSSId] [nvarchar](50) NOT NULL,
	[TINId] [nvarchar](50) NOT NULL,
	[UserId] [nvarchar](max) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthReminders]    Script Date: 7/6/2026 8:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthReminders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ReminderType] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](300) NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[CompletedDate] [datetime2](7) NULL,
	[Notes] [nvarchar](250) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HealthReminders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 7/6/2026 8:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[CurrentStock] [int] NOT NULL,
	[MinStock] [int] NOT NULL,
	[CriticalStock] [int] NOT NULL,
	[MaxStock] [int] NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[BatchNumber] [nvarchar](30) NOT NULL,
	[ExpiryDate] [datetime2](7) NULL,
	[LastRestockedAt] [datetime2](7) NULL,
	[LastDispensedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Medicines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicineTransactions]    Script Date: 7/6/2026 8:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MedicineId] [int] NOT NULL,
	[TransactionType] [nvarchar](10) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Notes] [nvarchar](250) NOT NULL,
	[PerformedBy] [nvarchar](100) NOT NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MedicineTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 7/6/2026 8:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VisitId] [int] NOT NULL,
	[MedicineId] [int] NOT NULL,
	[MedicineName] [nvarchar](150) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Dosage] [nvarchar](50) NOT NULL,
	[Frequency] [nvarchar](50) NOT NULL,
	[Duration] [nvarchar](30) NOT NULL,
	[Instructions] [nvarchar](250) NOT NULL,
	[PrescribedDate] [datetime2](7) NOT NULL,
	[PrescribedBy] [nvarchar](100) NOT NULL,
	[IsDispensed] [bit] NOT NULL,
	[DispensedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Prescriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visits]    Script Date: 7/6/2026 8:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[PatientName] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[Sex] [nvarchar](10) NOT NULL,
	[ContactNumber] [nvarchar](15) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Occupation] [nvarchar](80) NOT NULL,
	[Birthday] [datetime2](7) NULL,
	[FamilyHistory] [nvarchar](300) NOT NULL,
	[ChiefComplain] [nvarchar](300) NOT NULL,
	[DateOfConsultation] [datetime2](7) NOT NULL,
	[VitalBP] [nvarchar](15) NULL,
	[VitalPR] [nvarchar](10) NULL,
	[VitalRR] [nvarchar](10) NULL,
	[VitalTemp] [nvarchar](10) NULL,
	[VitalWT] [nvarchar](10) NULL,
	[VitalHT] [nvarchar](10) NULL,
	[VitalWC] [nvarchar](10) NULL,
	[IsSmoker] [bit] NOT NULL,
	[SticksPerDay] [int] NULL,
	[IsAlcoholDrinker] [bit] NOT NULL,
	[BottlesAlcohol] [int] NULL,
	[IsBeverageDrinker] [bit] NOT NULL,
	[BottlesBeverage] [int] NULL,
	[QueueStatus] [nvarchar](15) NOT NULL,
	[Outcome] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Visits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WellnessProgramRegistrations]    Script Date: 7/6/2026 8:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WellnessProgramRegistrations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WellnessProgramId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[EmployeeName] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](15) NOT NULL,
	[RegisteredAt] [datetime2](7) NOT NULL,
	[AttendedAt] [datetime2](7) NULL,
	[Notes] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_WellnessProgramRegistrations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WellnessPrograms]    Script Date: 7/6/2026 8:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WellnessPrograms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Venue] [nvarchar](100) NOT NULL,
	[ProgramDate] [datetime2](7) NOT NULL,
	[TargetDepartment] [nvarchar](50) NOT NULL,
	[ParticipantCapacity] [int] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_WellnessPrograms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'8.0.28')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260620060428_AddClinicTables', N'8.0.28')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260627045355_AddPrescriptionTable', N'8.0.28')
GO
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'e416458f-4d48-4196-a5c5-a2cdf291956e', N'Admin', N'ADMIN', N'admin@unihealth.com', N'ADMIN@UNIHEALTH.COM', 1, N'AQAAAAIAAYagAAAAEJrjZFSFsXjHlWOfKdkqbZoern9ZNY02XkGwcIOSMIhcN3VOAV2DRcRw0rqjty5u8Q==', N'J4VOLITF2LTEFXMLU3SLMQQYALHSQH2D', N'8f2a0df2-4b20-4b0e-a2b6-196d1b30e357', NULL, 0, 0, NULL, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [EmployeeNumber], [Name], [Department], [Age], [Gender], [Occupation], [Address], [ContactNumber], [Status], [Birthday], [CreatedAt], [Email], [EmergencyContact], [PagIbigId], [PhilHealthId], [Position], [SSSId], [TINId], [UserId]) VALUES (1, N'EMP-001', N'Cristian Russel Obiedo', N'IT', 21, N'Male', N'Tech Support', N'Matina Davao City', N'09128787128', N'Active', CAST(N'2005-03-24T00:00:00.0000000' AS DateTime2), CAST(N'2026-06-20T06:20:44.3463529' AS DateTime2), N'employee@unihealth.com', N'', N'', N'', N'', N'', N'', N'ae916d66-d20c-4c5a-b8a8-50480cc54a04')
INSERT [dbo].[Employees] ([Id], [EmployeeNumber], [Name], [Department], [Age], [Gender], [Occupation], [Address], [ContactNumber], [Status], [Birthday], [CreatedAt], [Email], [EmergencyContact], [PagIbigId], [PhilHealthId], [Position], [SSSId], [TINId], [UserId]) VALUES (1001, N'EMP-002', N'Carl Patrick Guadalquiver', N'IT', 21, N'Male', N'Tech Support', N'Emily Homes', N'09178283781', N'Active', CAST(N'2005-05-26T00:00:00.0000000' AS DateTime2), CAST(N'2026-06-27T04:58:32.3262947' AS DateTime2), N'', N'', N'', N'', N'', N'', N'', NULL)
INSERT [dbo].[Employees] ([Id], [EmployeeNumber], [Name], [Department], [Age], [Gender], [Occupation], [Address], [ContactNumber], [Status], [Birthday], [CreatedAt], [Email], [EmergencyContact], [PagIbigId], [PhilHealthId], [Position], [SSSId], [TINId], [UserId]) VALUES (1002, N'EMP-003', N'Jane Flores', N'IT', 21, N'Female', N'Tech Support', N'Agdao', N'09881273878', N'Active', CAST(N'2005-06-21T00:00:00.0000000' AS DateTime2), CAST(N'2026-06-27T05:05:16.5775686' AS DateTime2), N'', N'', N'', N'', N'', N'', N'', NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthReminders] ON 

INSERT [dbo].[HealthReminders] ([Id], [EmployeeId], [ReminderType], [Description], [DueDate], [IsCompleted], [CompletedDate], [Notes], [CreatedAt]) VALUES (1, 1, N'Annual Physical Exam', N'Annual physical examination required', CAST(N'2026-08-04T11:17:16.5234324' AS DateTime2), 0, NULL, N'', CAST(N'2026-07-05T03:17:16.5232986' AS DateTime2))
INSERT [dbo].[HealthReminders] ([Id], [EmployeeId], [ReminderType], [Description], [DueDate], [IsCompleted], [CompletedDate], [Notes], [CreatedAt]) VALUES (2, 1, N'Flu Vaccination', N'Annual flu shot', CAST(N'2026-07-20T11:17:16.5245679' AS DateTime2), 0, NULL, N'', CAST(N'2026-07-05T03:17:16.5245667' AS DateTime2))
INSERT [dbo].[HealthReminders] ([Id], [EmployeeId], [ReminderType], [Description], [DueDate], [IsCompleted], [CompletedDate], [Notes], [CreatedAt]) VALUES (3, 1, N'Blood Pressure Check', N'Quarterly BP monitoring', CAST(N'2026-07-12T11:17:16.5245697' AS DateTime2), 0, NULL, N'', CAST(N'2026-07-05T03:17:16.5245696' AS DateTime2))
SET IDENTITY_INSERT [dbo].[HealthReminders] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicines] ON 

INSERT [dbo].[Medicines] ([Id], [Name], [Category], [CurrentStock], [MinStock], [CriticalStock], [MaxStock], [Unit], [BatchNumber], [ExpiryDate], [LastRestockedAt], [LastDispensedAt], [CreatedAt]) VALUES (1, N'Mefenamic Acid 500mg', N'Analgesic', 15, 20, 10, 100, N'tablets', N'BA-001', CAST(N'2027-02-20T06:08:16.3527331' AS DateTime2), CAST(N'2026-03-20T06:08:16.3527331' AS DateTime2), NULL, CAST(N'2026-06-20T06:08:16.3530688' AS DateTime2))
INSERT [dbo].[Medicines] ([Id], [Name], [Category], [CurrentStock], [MinStock], [CriticalStock], [MaxStock], [Unit], [BatchNumber], [ExpiryDate], [LastRestockedAt], [LastDispensedAt], [CreatedAt]) VALUES (2, N'Paracetamol 500mg', N'Antipyretic', 48, 50, 20, 200, N'tablets', N'BA-002', CAST(N'2027-08-20T06:08:16.3527331' AS DateTime2), CAST(N'2026-05-20T06:08:16.3527331' AS DateTime2), NULL, CAST(N'2026-06-20T06:08:16.3534198' AS DateTime2))
INSERT [dbo].[Medicines] ([Id], [Name], [Category], [CurrentStock], [MinStock], [CriticalStock], [MaxStock], [Unit], [BatchNumber], [ExpiryDate], [LastRestockedAt], [LastDispensedAt], [CreatedAt]) VALUES (3, N'Amoxicillin 500mg', N'Antibiotic', 240, 60, 30, 300, N'capsules', N'BA-003', CAST(N'2027-04-20T06:08:16.3527331' AS DateTime2), CAST(N'2026-06-20T06:37:20.9681313' AS DateTime2), CAST(N'2026-06-20T06:37:09.8232019' AS DateTime2), CAST(N'2026-06-20T06:08:16.3534202' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Medicines] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicineTransactions] ON 

INSERT [dbo].[MedicineTransactions] ([Id], [MedicineId], [TransactionType], [Quantity], [Notes], [PerformedBy], [TransactionDate]) VALUES (1, 3, N'Dispense', 100, N'', N'Admin', CAST(N'2026-06-20T06:37:09.8284758' AS DateTime2))
INSERT [dbo].[MedicineTransactions] ([Id], [MedicineId], [TransactionType], [Quantity], [Notes], [PerformedBy], [TransactionDate]) VALUES (2, 3, N'Restock', 100, N'', N'Admin', CAST(N'2026-06-20T06:37:20.9684328' AS DateTime2))
INSERT [dbo].[MedicineTransactions] ([Id], [MedicineId], [TransactionType], [Quantity], [Notes], [PerformedBy], [TransactionDate]) VALUES (1002, 1003, N'Restock', 100, N'Initial stock entry', N'Admin', CAST(N'2026-06-27T05:21:55.2233724' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MedicineTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Prescriptions] ON 

INSERT [dbo].[Prescriptions] ([Id], [VisitId], [MedicineId], [MedicineName], [Quantity], [Dosage], [Frequency], [Duration], [Instructions], [PrescribedDate], [PrescribedBy], [IsDispensed], [DispensedDate]) VALUES (1, 1003, 4, N'Ibuprofen 200mg', 2, N'500mg', N'Once daily', N'2', N'', CAST(N'2026-06-27T05:22:31.8743248' AS DateTime2), N'Admin', 0, NULL)
INSERT [dbo].[Prescriptions] ([Id], [VisitId], [MedicineId], [MedicineName], [Quantity], [Dosage], [Frequency], [Duration], [Instructions], [PrescribedDate], [PrescribedBy], [IsDispensed], [DispensedDate]) VALUES (2, 2005, 1002, N'ibuprofen', 7, N'500mg', N'Twice daily', N'7', N'', CAST(N'2026-07-05T05:17:06.5290422' AS DateTime2), N'Admin', 0, NULL)
SET IDENTITY_INSERT [dbo].[Prescriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[Visits] ON 

SET IDENTITY_INSERT [dbo].[Visits] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 7/6/2026 8:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 7/6/2026 8:46:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 7/6/2026 8:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 7/6/2026 8:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 7/6/2026 8:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 7/6/2026 8:46:02 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 7/6/2026 8:46:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_EmployeeNumber]    Script Date: 7/6/2026 8:46:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Employees_EmployeeNumber] ON [dbo].[Employees]
(
	[EmployeeNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HealthReminders_EmployeeId]    Script Date: 7/6/2026 8:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_HealthReminders_EmployeeId] ON [dbo].[HealthReminders]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicineTransactions_MedicineId]    Script Date: 7/6/2026 8:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_MedicineTransactions_MedicineId] ON [dbo].[MedicineTransactions]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prescriptions_MedicineId]    Script Date: 7/6/2026 8:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_Prescriptions_MedicineId] ON [dbo].[Prescriptions]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prescriptions_VisitId]    Script Date: 7/6/2026 8:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_Prescriptions_VisitId] ON [dbo].[Prescriptions]
(
	[VisitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Visits_EmployeeId]    Script Date: 7/6/2026 8:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_Visits_EmployeeId] ON [dbo].[Visits]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WellnessProgramRegistrations_EmployeeId]    Script Date: 7/6/2026 8:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_WellnessProgramRegistrations_EmployeeId] ON [dbo].[WellnessProgramRegistrations]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WellnessProgramRegistrations_WellnessProgramId]    Script Date: 7/6/2026 8:46:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_WellnessProgramRegistrations_WellnessProgramId] ON [dbo].[WellnessProgramRegistrations]
(
	[WellnessProgramId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'') FOR [EmergencyContact]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'') FOR [PagIbigId]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'') FOR [PhilHealthId]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'') FOR [Position]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'') FOR [SSSId]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'') FOR [TINId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[HealthReminders]  WITH CHECK ADD  CONSTRAINT [FK_HealthReminders_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HealthReminders] CHECK CONSTRAINT [FK_HealthReminders_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[MedicineTransactions]  WITH CHECK ADD  CONSTRAINT [FK_MedicineTransactions_Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MedicineTransactions] CHECK CONSTRAINT [FK_MedicineTransactions_Medicines_MedicineId]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([Id])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Medicines_MedicineId]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Visits_VisitId] FOREIGN KEY([VisitId])
REFERENCES [dbo].[Visits] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Visits_VisitId]
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[WellnessProgramRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_WellnessProgramRegistrations_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[WellnessProgramRegistrations] CHECK CONSTRAINT [FK_WellnessProgramRegistrations_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[WellnessProgramRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_WellnessProgramRegistrations_WellnessPrograms_WellnessProgramId] FOREIGN KEY([WellnessProgramId])
REFERENCES [dbo].[WellnessPrograms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WellnessProgramRegistrations] CHECK CONSTRAINT [FK_WellnessProgramRegistrations_WellnessPrograms_WellnessProgramId]
GO
USE [master]
GO
